:root {
  --main-text-color: #212121;
  --main-white: #ffffff;
  --header-logo-color: #000000;
  --web-logo-color: #2196f3;
  --sub-color: #757575;
  --footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-socials-background: rgba(255, 255, 255, 0.1);
  --footer-mailing-border: rgba(255, 255, 255, 0.3);
  --footer__contacts-color: rgba(255, 255, 255, 0.6);
  --btn-hover: #188ce8;
  --icons: #afb1b8;
  --border-header-color: #ececec;
  --order-comment-placeholder: rgba(117, 117, 117, 0.5);
  --order-input-border: rgba(33, 33, 33, 0.2);
  --main-background: rgba(47, 48, 58, 0.4);
  --what-we-do-background: rgba(47, 48, 58, 0.8);
  --black-shadow-01: rgba(0, 0, 0, 0.1);
  --black-shadow-02: rgba(0, 0, 0, 0.2);
  --black-shadow-06: rgba(0, 0, 0, 0.06);
  --black-shadow-08: rgba(0, 0, 0, 0.08);
  --black-shadow-10: rgba(0, 0, 0, 0.1);
  --black-shadow-12: rgba(0, 0, 0, 0.12);
  --black-shadow-14: rgba(0, 0, 0, 0.14);
  --black-shadow-15: rgba(0, 0, 0, 0.15);
  --black-shadow-16: rgba(0, 0, 0, 0.16);
  --projects-border: #eeeeee;
  --general-duration: 250ms;
  --general-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
  letter-spacing: 0.03em;

  background-color: var(--main-white);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.hero-btn,
.filter-btn {
  cursor: pointer;
}

.centered {
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*  Header  */

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid var(--border-header-color);
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo header */

.logo,
.footer__logo {
  font-family: 'Raleway';
  font-style: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  color: var(--header-logo-color);
}

.logo-web {
  color: var(--web-logo-color);
}

/* Main navigation */

.main-nav {
  margin-right: auto;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  position: relative;
}

.main-nav__item:not(.main-nav__item:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  display: inline-block;
  padding: 32px 0;

  color: var(--main-text-color);

  transition: color var(--general-duration) var(--general-cubic);
}

.main-nav__link--current {
  color: var(--web-logo-color);
}

.main-nav__link--current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--web-logo-color);
  border-radius: 2px;
}

/* Header contacts */

.contacts-header {
  display: flex;
  align-items: center;
}

.contacts-header__item:not(.contacts-header__item:last-child) {
  margin-right: 30px;
}

.contacts-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--sub-color);

  transition: color var(--general-duration) var(--general-cubic);
}

.contacts-header__icon {
  margin-right: 10px;

  fill: currentColor;
}

.main-nav__link:hover,
.main-nav__link:focus,
.contacts-header__link:hover,
.contacts-header__link:focus {
  color: var(--web-logo-color);
}

/*  Hero  */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-image: linear-gradient(to right, var(--main-background), var(--main-background)),
    url(../images/hero/background-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-white);
}

.hero__btn {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-white);

  background-color: var(--web-logo-color);
  border-radius: 4px;
  border-style: none;

  transition: background-color var(--general-duration) var(--general-cubic);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--btn-hover);
}

/*  Benefits  */

.benefits__list {
  display: flex;
}

.benefits__item {
  width: 270px;
}

.benefits__item:not(.benefits__item:last-child) {
  margin-right: 30px;
}

.benefits__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--team-background-color);
  border-radius: 4px;
}

.benefits__subject {
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 1.7;
  color: var(--sub-color);
}

/* Title styles */

.what-we-do__title,
.team__title,
.clients__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/*  What we do  */

.what-we-do {
  padding-top: 0;
}

.what-we-do__list {
  display: flex;
  justify-content: center;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__description {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  font-weight: 700;
  line-height: 1.1428;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white);

  background-color: var(--what-we-do-background);
}

/*  Team  */

.team {
  background-color: var(--team-background-color);
}

.team__list {
  display: flex;
}

.team__item {
  display: block;

  background-color: var(--main-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px var(--black-shadow-12), 0px 1px 1px var(--black-shadow-14),
    0px 2px 1px var(--black-shadow-02);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__card {
  padding: 30px 32px;
}

.team__name,
.team__profession {
  font-size: 16px;
  line-height: 1.1875;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
}

.team__profession {
  margin-bottom: 16px;

  color: var(--sub-color);
}

.socials__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--icons);

  transition: fill var(--general-duration) var(--general-cubic),
    background-color var(--general-duration) var(--general-cubic);
}

.socials__link:hover,
.socials__link:focus {
  fill: var(--main-white);
  background-color: var(--web-logo-color);
}

/* Clients */

.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--icons);
  border-radius: 4px;
  fill: var(--icons);

  transition: fill var(--general-duration) var(--general-cubic),
    border-color var(--general-duration) var(--general-cubic);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--web-logo-color);
  border-color: var(--web-logo-color);
}

/*  Footer  */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/* Footer contacts */

.footer__contacts {
  flex-shrink: 0;
  margin-right: 70px;
}

.footer__logo,
.footer__address {
  color: var(--main-white);
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__address,
.footer__mail {
  margin-bottom: 9px;
}

.footer__contacts {
  font-style: normal;
  line-height: 1.715;
}

.footer__contact-link {
  color: var(--footer__contacts-color);

  transition: color var(--general-duration) var(--general-cubic);
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: var(--web-logo-color);
}

/* Footer social */

.footer-socials {
  margin-right: 93px;
}

.footer-socials__text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
  color: var(--main-white);
}

.footer-socials__list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--footer-socials-background);
  fill: var(--main-white);

  transition: background-color var(--general-duration) var(--general-cubic);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--web-logo-color);
}

/* Footer mailing */

.footer-mailing__form {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
}

.footer-mailing__title {
  width: 100%;

  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 20px;
}

.footer-mailing__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  color: var(--main-white);
  line-height: 1.2859;

  background-color: var(--footer-background-color);
  border: 1px solid var(--footer-mailing-border);
  filter: drop-shadow(0px 4px 4px var(--black-shadow-15));
  border-radius: 4px;
}

.footer-mailing__input::placeholder {
  display: inline-block;
  padding-left: 18px;

  color: var(--footer__contacts-color);
}

.footer-mailing__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-white);

  background-color: var(--web-logo-color);
  border: 0px;
  box-shadow: 0px 4px 4px var(--black-shadow-15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color var(--general-duration) var(--general-cubic);
}

.footer-mailing__btn:hover,
.footer-mailing__btn:focus {
  background-color: var(--btn-hover);
}

.footer-mailing__icon {
  margin-left: 10px;
  fill: var(--main-white);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: var(--black-shadow-02);

  transition: all var(--general-duration) var(--general-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: visibility var(--general-duration) var(--general-cubic),
    opacity var(--general-duration) var(--general-cubic);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--main-white);
  box-shadow: 0px 1px 3px var(--black-shadow-12), 0px 1px 1px var(--black-shadow-14),
    0px 2px 1px var(--black-shadow-02);
  border-radius: 4px;

  transition: all var(--general-duration) var(--general-cubic);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid var(--black-shadow-01);
  background-color: var(--main-white);
  fill: var(--header-logo-color);

  cursor: pointer;

  transition: fill var(--general-duration) var(--general-cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--web-logo-color);
}

/* Order form */

.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}

.order-label {
  position: relative;

  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: var(--sub-color);
}

.order-user-name,
.order-tel,
.order-mail {
  margin-bottom: 10px;
}

.order-input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 100%;

  border-width: 1px;
  border-style: solid;
  border-color: var(--order-input-border);
  border-radius: 4px;
  outline: transparent;

  cursor: pointer;

  transition: border-color var(--general-duration) var(--general-cubic);
}

.order-icon {
  position: absolute;
  top: 29px;
  left: 12px;

  fill: var(--main-text-color);

  transition: fill var(--general-duration) var(--general-cubic);
}

.order-label:hover .order-input,
.order-input:focus,
.order-label:hover .order-comment-textarea,
.order-comment-textarea:focus {
  border-color: var(--web-logo-color);
}

.order-label:hover .order-icon,
.order-input:focus + .order-icon {
  fill: var(--web-logo-color);
}

.order-comment {
  margin-bottom: 20px;
}

.order-comment-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid var(--order-input-border);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--general-duration) var(--general-cubic);
}

.order-comment-textarea::placeholder {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.01em;
  color: var(--order-comment-placeholder);
}

.order-agreement {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 5px;

  line-height: 1.7142;
  color: var(--sub-color);
}

.order-checkbox-agreement {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.order-terms-link {
  display: inline-block;

  line-height: 1.7142;
  text-decoration-line: underline;
  color: var(--web-logo-color);
}

.order-checkbox {
  position: absolute;
  top: 4px;
  left: 4px;

  width: 16px;
  height: 15px;

  border-width: 2px;
  border-style: solid;
  border-color: var(--main-text-color);
  border-radius: 2px;

  transition: border-color var(--general-duration) var(--general-cubic);
}

.order-agreement-icon {
  position: absolute;
  top: 4px;
  left: 4px;

  fill: var(--web-logo-color);
  opacity: 0;

  transition: opacity var(--general-duration) var(--general-cubic);
}

.order-agreement:hover .order-checkbox,
.order-checkbox-agreement:focus + .order-checkbox,
.order-checkbox-agreement:checked + .order-checkbox {
  border-color: var(--btn-hover);
}

.order-checkbox-agreement:checked ~ .order-agreement-icon {
  opacity: 1;
}

.order-send-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-white);

  background-color: var(--web-logo-color);
  box-shadow: 0px 4px 4px var(--black-shadow-15);
  border-radius: 4px;
  border-style: none;

  margin-left: auto;
  margin-right: auto;

  cursor: pointer;

  transition: background-color var(--general-duration) var(--general-cubic);
}

.order-send-btn:hover,
.order-send-btn:focus {
  background-color: var(--btn-hover);
}

/*  Filter  */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(.filter-item:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--main-text-color);

  background-color: var(--team-background-color);
  border-radius: 4px;
  border-style: none;

  transition: color var(--general-duration) var(--general-cubic),
    background-color var(--general-duration) var(--general-cubic),
    box-shadow var(--general-duration) var(--general-cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-white);

  background-color: var(--web-logo-color);
  box-shadow: 0 2px 2px 0 var(--black-shadow-12), 0 1px 2px 0 var(--black-shadow-08),
    0 3px 1px 0 var(--black-shadow-10);
}

.all {
  color: var(--main-white);

  background-color: var(--web-logo-color);
}

/*  Projects  */

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item:not(.projects-item:nth-child(3n + 3)) {
  margin-right: 30px;
}

.projects-item:not(.projects-item:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-link {
  /* position: relative; */

  display: block;
  width: 370px;

  transition: box-shadow var(--general-duration) var(--general-cubic);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 1px 4px 6px 0 var(--black-shadow-16), 0 4px 4px 0 var(--black-shadow-06),
    0 1px 1px 0 var(--black-shadow-12);
}

.projects-text {
  padding: 20px 24px;

  border-right: 1px solid var(--projects-border);
  border-bottom: 1px solid var(--projects-border);
  border-left: 1px solid var(--projects-border);
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.projects-type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--sub-color);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  width: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  color: var(--main-white);

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--general-duration) var(--general-cubic);
}

.projects-link:hover .projects-description,
.projects-link:focus .projects-description {
  transform: translateY(0%);
}
