.benefits__list {
  display: flex;
}

.benefits__item {
  width: 270px;

  &:not(&:last-child) {
    margin-right: 30px;
  }
}

.benefits__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: getColor('background', 'light');
  border-radius: 4px;
}

.benefits__subject {
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 1.7;
  color: getColor('primaryText', 'sub');
}