body {
  font-family: 'Roboto';
  font-size: map-get($map: $mainTextStyle, $key: 'primaryFontSize');
  color: getColor('main', 'white');
  letter-spacing: map-get($mainTextStyle, 'primaryLetterSpacing');
  background-color: getColor('background', 'main');
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
