@each $colorKey, $colorVariants in $colorMap {
    $primaryColorValue: map-get($map: $colorVariants, $key: 'main');
    &.#{$colorKey} {
        color: $primaryColorValue;
    }
}

.hero__title {
    font-family: 'Roboto';
    font-weight: 900;
}