html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-size: map-get($map: $mainTextStyle, $key: 'primaryFontSize');
    color: getColor('accent', 'main');
}








@each $colorKey, $colorVariants in $colorMap {
    $primaryColorValue: map-get($map: $colorVariants, $key: 'main');
    &.#{$colorKey} {
        color: $primaryColorValue;
    }
}

.hero__title {
    font-family: 'Roboto';
    font-weight: 900;
}