.footer__contacts {
  flex-shrink: 0;
  margin-right: 70px;

  font-style: normal;
  line-height: 1.715;
}

.footer-contacts__address {
  color: getColor('main', 'white');
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(getColor('main', 'white'), 0.6);

  transition: color $transition;

  &:hover,
  &:focus {
      color: getColor('accent', 'main');
  }
}