.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('background', 'dark');
}

.footer__container {
  display: flex;
  align-items: baseline;
}

// Footer socials

.footer-socials {
  margin-right: 93px;
}

.footer-socials__text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
  color: var(--main-white);
}

.footer-socials__list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--footer-socials-background);
  fill: var(--main-white);

  transition: background-color var(--general-duration) var(--general-cubic);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--web-logo-color);
}

// Footer mailing

.footer-mailing__form {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
}

.footer-mailing__title {
  width: 100%;

  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 20px;
}

.footer-mailing__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  color: var(--main-white);
  line-height: 1.2859;

  background-color: var(--footer-background-color);
  border: 1px solid var(--footer-mailing-border);
  filter: drop-shadow(0px 4px 4px var(--black-shadow-15));
  border-radius: 4px;
}

.footer-mailing__input::placeholder {
  display: inline-block;
  padding-left: 18px;

  color: var(--footer__contacts-color);
}

.footer-mailing__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-white);

  background-color: var(--web-logo-color);
  border: 0px;
  box-shadow: 0px 4px 4px var(--black-shadow-15);
  border-radius: 4px;

  cursor: pointer;

  transition: background-color var(--general-duration) var(--general-cubic);
}

.footer-mailing__btn:hover,
.footer-mailing__btn:focus {
  background-color: var(--btn-hover);
}

.footer-mailing__icon {
  margin-left: 10px;
  fill: var(--main-white);
}