.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid getColor('border', 'primary');
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Main navigation

.main-nav {
  margin-right: auto;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  position: relative;

  &:not(&:last-child) {
  margin-right: 50px;
}
}

.main-nav__link {
  display: inline-block;
  padding: 32px 0;

  color: getColor('primaryText', 'main');

  transition: color, $transition;
}