%teamTextSize {
  font-size: 16px;
  line-height: 1.1875;
}

%socialsList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

%socialsInnerMargin {
  margin-right: 10px;
}

%socialsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
}
