$white: #ffffff;
$black: #000000;
$primaryTextColor: #212121;
$subColor: #757575;
$accentColor: #2196f3;
$secondaryBackgroundColor: #f5f4fa;
$footerBackgroundColor: #2f303a;
$footerSocialsBackgroundColor: rgba(255, 255, 255, 0.1);

