$mainColors: (
  'white': #ffffff,
  'black': #000000,
);
$whiteOpacities: (
  'opacity01': rgba(255, 255, 255, 0.1),
  'opacity03': rgba(255, 255, 255, 0.3),
  'opacity06': rgba(255, 255, 255, 0.6),
);
$blackShadows: (
  'shadow006': rgba(0, 0, 0, 0.06),
  'shadow008': rgba(0, 0, 0, 0.08),
  'shadow01': rgba(0, 0, 0, 0.1),
  'shadow012': rgba(0, 0, 0, 0.12),
  'shadow014': rgba(0, 0, 0, 0.14),
  'shadow015': rgba(0, 0, 0, 0.15),
  'shadow016': rgba(0, 0, 0, 0.16),
  'shadow02': rgba(0, 0, 0, 0.2),
);
$primaryTextColors: (
    'darkTextColor': #212121,
    'subTextColor': #757575,
);
$accentColors: (
    'accentColor': #2196f3,
    'accentColorHover': #188ce8,
);
$backgroundColors: (
    'mainBackgroundColor': #e5e5e5,
    'secondaryBackgroundColor': #f5f4fa,
    'heroBackgroundColor': rgba(47, 48, 58, 0.4),
    'whatWeDoBackgroundColor': rgba(47, 48, 58, 0.8),
    'footerBackgroundColo'r: #2f303a,
);
$borderColors: (
    'headerBorderColor': #ececec,
    'inputBorderColor': rgba(33, 33, 33, 0.2),
    'projectsBorder': #eeeeee,
);

$svgColor: #afb1b8;
$placeholderColor: rgba(117, 117, 117, 0.5);

$generalDuration: 250ms;
$generalCubic: cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFamily: 'Roboto', sans-serif;
$primaryFontSize: 14px;
$primaryLetterSpacing: 0.03em;